@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Pixelated MS Sans Serif', Arial;
}

.title-bar,
.window,
button,
input,
label,
option,
select,
table,
textarea,
ul.tree-view {
  font-size: 1rem !important;
}

p {
  font-size: 1rem !important;
}

.progress-indicator {
  height: 32px;
  position: relative;
  box-shadow: inset -2px -2px #dfdfdf, inset 2px 2px #808080;
  padding: 4px 4px;
  border: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

.progress-indicator > .progress-indicator-bar {
  height: 100%;
  display: block;
  background-color: #000080;
}

.progress-indicator.segmented > .progress-indicator-bar {
  width: 100%;
  background-color: transparent; /* resets the background color which is set to blue in the non-segmented selector */
  background-image: linear-gradient(90deg, #000080 0 16px, transparent 0 2px);
  background-repeat: repeat;
  background-size: 18px 100%;
}
