@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Pixelated MS Sans Serif', Arial;
}

.title-bar,
.window,
button,
input,
label,
option,
select,
table,
textarea,
ul.tree-view {
  font-size: 1rem !important;
}

p {
  font-size: 1rem !important;
}
